// Menu Button
.menu-btn{
  position: absolute;
  // put to the front of the page by setting z-index: 3
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #ffff;
    @include easeOut;
  }

  // Rotate into X with Menu Lines
  &.close {
    // https://developer.mozilla.org/en-US/docs/Web/CSS/transform
    transform: rotate(180deg);
    transition-duration: 1.5s;

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px,5px);
        transition-duration: 1.5s;
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
        transition-duration: 1.5s;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px,-6px);
        transition-duration: 1.5s;
      }
    }
  }
}

// Menu Overlay
.menu{
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  // The "show" class here is the same "show" class referenced in the java script
  &.show {
    visibility: visible;
  }

  // Dash &-branding and &-nav represent menu-branding and menu-nam
  // The comma , seprator means that both -branding and -nav will have the same styling
  &-branding,
  &-nav {
    // https://www.w3schools.com/css/css3_flexbox.asp
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    // Make the menu background darker
    background: darken($primary-color,5);
    // Get rid of the bullet points
    list-style: none;
    // Make menu come down from the top use -100%
    transform: translate3d(0,-100%,0);
    transition-duration: .8s;
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0,0,0);
      transition-duration: .8s;
    }
  }

  // Branding side
  &-branding {
    background: $primary-color;
    transform: translate3d(0,100%,0);
    @include easeOut;

    &.show {
      // Slide in from bottom
      transform: translate3d(0,0,0);
      transition-duration: .8s;
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url('../img/portrait.jpg');
      // Makes the portrait into a circle
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    // transform left > right
    transform: translate3d(600px,0,0);
    @include easeOut;

    &.show {
      // Slide in from right
      transform: translate3d(0,0,1rem);
    }

    &.current > a {
      color: $secondary-color;
    }

  }

  // Format Navigation Links
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    // Remove underline for link
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }

}

// SASS for loop
// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.15s;
    transition-duration: $x * 0.2s;
  }
}