@import 'config';
@import 'mobile';
@import 'menu';
@import 'heading';

* {
  box-sizing: border-box;
}

body {  
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  // Z index is the placement of the element in relation to another the higher the number the more to the top is that element
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        // Fade color in and out from the Icon
        @include easeOut();
      }

    }
  }

  &#home {
    // Prevent scroll bars from being on the home page
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}